## 021 문자열 인덱싱
#### letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [ ]:
letters = 'python'
# print(letters(0,2))
print(letters[0], letters[2]) # 정답

## 022 문자열 슬라이싱
#### 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [ ]:
license_plate = "24가 2210"
# print(license_plate[-4])
print(license_plate[-4:]) # 정답

## 023 문자열 인덱싱
#### 아래의 문자열에서 '홀' 만 출력하세요.

In [ ]:
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4])
print(string[::2]) # 정답 # 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

## 024 문자열 슬라이싱
#### 문자열을 거꾸로 뒤집어 출력하세요.

In [ ]:
string = "PYTHON"
# print(string[-])
print(string[::-1]) # 정답

## 025 문자열 치환
#### 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [ ]:
phone_number = "010-1111-2222"
result = phone_number.replace("-", " ") # 정답 
print(result)
# 파이썬 문자열에서 replace 메서드를 사용하면 문자열을 일부를 치환할 수 있습니다.
# 문자열은 수정할 수 없는 자료형이므로 
# 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됩니다.

## 026 문자열 다루기
#### 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [ ]:
phone_number = "010-1111-2222"
result = phone_number.replace("-", "") 
print(result)

## 027 문자열 다루기
#### url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [ ]:
url = "http://sharebook.kr"
print(url[-2:])
url_split = url.split('.') # 정답
print(url_split[-1])
# 문자열로 표현된 url에서 .을 기준으로 분리합니다. 
# 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.

## 028 문자열은 immutable
#### 아래 코드의 실행 결과를 예상해보세요.

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)

## 029 ~ 030 replace 메서드
#### 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [ ]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A') # 정답
print(string) 

# string_replace = string.replace('a', 'A') 
# print(string_replace) 

string = 'abcd'
string.replace('b', 'B')
print(string)
# abcd가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다

## 031 ~ 034 문자열 합치기, 곱하기
#### 아래 코드의 실행 결과를 예상해보세요.

In [ ]:
t1 = 'python'
t2 = 'java'
result = t1 +' '+ t2 # 공백 안넣으면 pythonjavapythonjavapythonjavapythonjava 출력
print(result * 4)

## 035 문자열 출력
#### 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요
## 036 문자열 출력
#### format( ) 메서드를 사용해서
## 037 문자열 출력
#### 파이썬 3.6부터 지원하는 f-string을 사용해서

In [42]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1)) # 정답
print("이름: %s 나이: %d" % (name2, age2))
# print 포맷팅에서 
# %s는 문자열 데이터 타입의 값을 
# %d는 정수형 데이터 타입 값의 출력을 의미합니다.

print("이름: {} 나이: {}".format(name1, age1)) # 정답
print("이름: {} 나이: {}".format(name2, age2))
# 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 { }를 적어주면 됩니다

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")
# f-string은 문자열 앞에 f가 붙은 형태입니다. 
# f-string을 사용하면 {변수}와 같은 형태로 문자열 사이에 
# 타입과 상관없이 값을 출력할 수 있습니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

## 038 컴마 제거하기
#### 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [1]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
콤마제거 = 상장주식수.replace(',','')
타입변환 = int(콤마제거)
print(타입변환)

5969782550

In [1]:
상장주식수 = "5,969,782,550"
aaa = 상장주식수.replace(",", "")

print(aaa, type(aaa))

print(aaa)
# 타입변환 = int(컴마제거)
# print(타입변환, type(타입변환))

5969782550 <class 'str'>
5969782550

In [2]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>