## 051 리스트 생성
##### 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

## 052 리스트에 원소 추가

In [ ]:
movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
print(movie_rank)
movie_rank.append("배트맨") # movie_rank 리스트에 "배트맨"을 추가하라.
print(movie_rank)

## 053 리스트의 insert(인덱스, 원소) 메서드
##### movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
## 054 del
##### movie_rank 리스트에서 '럭키'를 삭제하라.

In [ ]:
movie_rank = ["닥터스트레인지", "스플릿", "럭키", "배트맨"]
# movie_rank.append("슈퍼맨": 3) # 오답
movie_rank.insert(1,"슈퍼맨") # 정답 리스트의 insert(인덱스, 원소) 메서드
print(movie_rank)
movie_rank.remove("럭키") # 돌아가긴 하다잉
print(movie_rank)

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3] # 정답
print(movie_rank)

#### 055 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:] # 돌아가긴 하다잉
print(movie_rank)

In [ ]:
# del을 이용하여 리스트에서 원소를 삭제할 수 있습니다. 
# 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. 
# 따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 
# 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.
# 정답
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
print(movie_rank)
del movie_rank[2]
print(movie_rank)

## 056 합집합
##### lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
result = lang1 + lang2
print(result)

## 057
##### 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("최대값: ", max(nums), "최소값: ", min(nums))

### 058 다음 리스트의 합을 출력하라.
### 060 다음 리스트의 평균을 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5]
total = sum(nums)
print(total)
average = total / len(nums) # 정답
print(average)

## 059
#### 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

## 061
##### price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

## 062 ~ 064
#### 슬라이싱을 사용해서 홀수만 출력하라.
#### 슬라이싱을 사용해서 짝수만 출력하라.
#### 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])
print(nums[1::2])

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

## 065 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
##### interest 리스트를 사용하여 아래와 같이 화면에 출력하라. 삼성전자 Naver

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

## 066 ~068 join 메서드
##### 출력 예시:
##### 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest)
print(" ".join(interest)) # 정답
print("/".join(interest)) # 문자열의 join 메서드를 사용하면 리스트를 문자열로 붙일 수 있습니다.
print("\n".join(interest)) #

## 069 문자열 split 메서드
#### 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
#### 이를 interest 이름의 리스트로 분리 저장하라.

In [ ]:
string = "삼성전자/LG전자/Naver"
# interest=string.split(sep="/") # 돌아는 간다잉
interest =  string.split("/")
print(interest)

## 070 리스트 정렬
#### 리스트에 있는 값을 오름차순으로 정렬하세요.

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort() # 정답
print(data)

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data_sort = sorted(data)
print(data_sort)