## 071
#### my_variable 이름의 비어있는 튜플을 만들라.

In [ ]:
# my_variable = {} # 이건 딕셔너리
my_variable = () # 정답 이것이 튜플
print(type(my_variable))
type(my_variable)

## 072
#### 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

#### 순위	영화
#### 1	닥터 스트레인지
#### 2	스플릿
#### 3	럭키

In [ ]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

## 073
#### 숫자 1 이 저장된 튜플을 생성하라.

In [ ]:
data = (1) # 오답, 숫자만 입력하면 정수로 인식
print(type(data))
my_tuple = (1, ) # 정답, 하나의 데이터가 저장되는 경우, 쉼표를 입력해야 튜플로 인식합니다. 
type(my_tuple)

## 074 
#### 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

In [ ]:
t = (1, 2, 3)
t[0] = 'a'  # tuple은 원소(element)의 값을 변경할 수 없습니다.

## 075
#### 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

In [ ]:
t = 1, 2, 3, 4 # 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.
type(t)

## 076
#### 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

In [ ]:
t = ('a', 'b', 'c')
# t[0] = 'A' # 튜플의 값은 변경할 수 없기 때문에, 
t = ('A', 'b', 'c') # 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 
print(t) # 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

## 077 ~ 078 
##### 튜플을 리스트로 변환/ 리스트를 튜플로 변경하라.

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
# data = interest.join() # 오답
data = list(interest)
print(data)

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

## 079 튜플 언팩킹
#### 다음 코드의 실행 결과는?

In [6]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake
('apple', 'banana', 'cake')

## 080 range 함수
#### 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [9]:
data = tuple(range(2, 100, 2)) # 정답
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)