#### 171 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
price_list = [32100, 32150, 32000, 32500]
print(price_list)
end = len(price_list)
print(type(end))
for i in range(end):               #range()
    i =+1
    print(price_list[i])

for j in range(len(price_list)):
    print(price_list[j])

In [ ]:
#171
price_list = [32100, 32150, 32000, 32500]
for int in price_list : 
    print(int)

#### 172 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라

In [ ]:
price_list = [32100, 32150, 32000, 32500]          # 내가 작성 1
for j in range(len(price_list)):
    print(j, price_list[j])

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]          # 내가 작성 2
i = -1
for int in price_list :
    i += 1
    print(i, int)

In [ ]:
# enumerate 연습 : 열거하다, 차례로 들다, 늘어놓다
data = enumerate((1, 2, 3))
print(data, type(data))

for i, value in data:
    print(i, ":", value)
print()

data = enumerate({1, 2, 3})
for i, value in data:
    print(i, ":", value)
print()

data = enumerate([1, 2, 3])
for i, value in data:
    print(i, ":", value)
print()

dict1 = {'이름': '한사람', '나이': 33}
data = enumerate(dict1)
for i, key in data:
    print(i, ":", key, dict1[key])
print()

data = enumerate("재미있는 파이썬")
for i, value in data:
    print(i, ":", value)
print()

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

#### 173 위 172번을 역순으로 출력

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for j in range(len(price_list)):
    k = len(price_list) - j -1           # 내가 짠 것
    print(k, price_list[k])

In [ ]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i]) # 정답

In [ ]:
#173
price_list = [32100, 32150, 32000, 32500]
for int in range(len(price_list)):
    #print(3-int, price_list[3-int])
    i = len(price_list)-int-1
    print(i, price_list[i])

### 174 두번째 데이터부터 출력

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for j in range(1, len(price_list)):
    num = 10 * j + 90
    print(num, price_list[j])

In [ ]:
price_list = [32100, 32150, 32000, 32500]     #내가 작성
for int in range(len(price_list)-1) :
    print((int*10 +100), price_list[int+1])

#### 175 my_list를 아래와 같이 출력하라.

In [ ]:
my_list = ["가", "나", "다", "라"]
for j in range(len(my_list)-1):
    print(my_list[j], my_list[j+1])

In [ ]:
#175
my_list = ["가", "나", "다", "라"]
for int in range(len(my_list)-1) :
    print(my_list[int], my_list[int+1])

#### 176 가나다 출력

In [ ]:
my_list = ["가", "나", "다", "라", "마"]
for j in range(len(my_list)-2):
    print(my_list[j], my_list[j+1], my_list[j+2])

#### 177

In [ ]:
my_list = ["가", "나", "다", "라"]
for j in range(len(my_list)-1, 0, -1):
    
    print(my_list[j], my_list[j-1])

In [ ]:
my_list = ["가", "나", "다", "라"]
def print_decending():
    print(my_list[j], my_list[j-1])

for j in range(3, 0, -1):
    print_decending()

In [ ]:
my_list = ["가", "나", "다", "라"]
def print_decending():
    for j in range(3, 0, -1):
        print(my_list[j], my_list[j-1])

print_decending()

In [10]:
my_list = ["가", "나", "다", "라"]

class Descending :
    def a(self) :
        for i in [3,2,1]:
            print(my_list[i],my_list[i-1])

    def b(self) :
        for i in range(3,0,-1):
            print(my_list[i],my_list[i-1])

    def c(self) :
        for i in range(len(my_list)-1,0,-1):
            print(my_list[i],my_list[i-1])
    
class Ascending :
    def a(self) :
        for i in [0,1,2]:
            print(my_list[i+1],my_list[i])

    def b(self) :
        for i in range(0,3):
           print(my_list[i+1],my_list[i])

    def c(self) :
        for i in range(0,len(my_list)-2):
           print(my_list[i+1],my_list[i])
        return

x, y = input("올림/내림 a/b/c").split()



if x == "올림":
    put = Ascending()
    if y == 'a':
        put.a()
    elif y == 'b':
        put.b()
    elif y == 'c':
        put.c()
    else :
        print("a,b,c 중에 입력하세요")

elif x == "내림":
    put = Descending()
    if y == 'a':
        put.a()
    elif y == 'b':
        put.b()
    elif y == 'c':
        put.c()
    else :
        print("a,b,c 중에 입력하세요")
else: 
    print("올림, 내림 중에 입력하세요")

나 가
다 나
라 다

In [3]:
def print_decending() :
    for j in range(len(my_list)-1) :
        i = (len(my_list) - j - 1)
        print(my_list[i], my_list[i-1])

my_list = ["가", "나", "다", "라", "마"]

print_decending()

마 라
라 다
다 나
나 가

In [ ]:
# 178
my_list = [100, 200, 400, 800, 600]
for i in range(len(my_list)-1) : 
    difference = my_list[i+1] - my_list[i]         # 내가 작성
    print(difference)
    
# abs 절대값
for i in range(len(my_list)-1) :                   # 정답
    print(abs(my_list[i+1] - my_list[i]))

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2) :
    avg = (my_list[i] + my_list[i+1] + my_list[i+2]) / 3
    print(avg)

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for int in range(len(low_prices)) :
    gap = high_prices[int] - low_prices[int]
        
    volatility.append(gap)
    # print(volatility)

In [ ]:
#181
apartment = [("101호", "102호"), ("201호", "202호"), ("301호", "302호")] # 내가 작성, 각 행이 list가 아닌 튜플임
print(apartment, type(apartment))
print(apartment[0], type(apartment[0]))

In [ ]:
apartment = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"]] # 리스트와 튜플의 가장 큰 차이점은 값을 변경할 수 있는가의 여부, 변경되면 안 되는 경우에는 튜플을 사용하면 된다
print(apartment, type(apartment))
print(apartment[0], type(apartment[0]))

In [13]:
# 182 2개의 리스트로 표현

stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]] # 정답
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [14]:
#183 딕셔너리로 표현
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
#184
stock ={"10/10": [80, 11, 70, 90], "10/11": [210, 230, 190, 200]}

In [64]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for int in apart :
    # print(apart[int]) # list indices must be integers or slices, not list
    print(int)

[101, 102]
[201, 202]
[301, 302]

In [43]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ] 
for i in range(len(apart)) :              # 내가 작성
    for j in range(len(apart[0])) :
        print(apart[i][j],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [44]:
# 185 
apart = [ [101, 102], [201, 202], [301, 302] ]
for 층 in apart:                #정답
    for 호 in 층:
        print(호,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [60]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for int in range(len(apart)-1,-1,-1) :           # 내가 작성
    for j in range(len(apart[int])) :
        print(apart[int][j],"호")

print()
for 층 in apart[::-1] :                          # 정답
    for 호 in 층 :
        print(호, "호")

301 호
302 호
201 호
202 호
101 호
102 호

301 호
302 호
201 호
202 호
101 호
102 호

In [61]:
# 187
for floor in apart[::-1] :
    for unit in floor[::-1] :
        print(unit, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [65]:
#188
for 층 in apart :
    for 호 in 층 :
        print(호, "호 \n----- ") # 내가 작성

101 호
----
102 호
----
201 호
----
202 호
----
301 호
----
302 호
----

In [66]:
#189
for 층 in apart :
    for 호 in 층 :
        print(호, "호") # 내가 작성
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [67]:
#190
for 층 in apart :
    for 호 in 층 :
        print(호, "호") # 내가 작성
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [88]:
#191 # 192 # 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
rate = 0.00014 
for 종목 in data :
    for 가격 in 종목 :
        print(가격*(1+rate))
        result.append(가격*(1+rate))
    print("-"*5)
print(result)

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [96]:
# 194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []; med = []
rate = 0.00014 
for 종목 in data :
    for 가격 in 종목 :
        med.append(가격*(1+rate))
    #result.append(종목)                # FAIL 원래 목록처럼 저장
    result.append(result1)             # 여러번 찍힘
    
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001], [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [104]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for 종목 in data :
    med = [] 
    for 가격 in 종목 :
        med.append(가격*1.00014)
    result.append(med)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772]]
[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772]]
[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [113]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for close in ohlc :
        print(close[3])


for close in ohlc[1::] :         # 정답
    print(close[3])

close
100
190
310
100
190
310

In [114]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for day in ohlc[1::] :
    if day[3] > 150 :
        print(day[3])

190
310

In [123]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = [] 

for day in ohlc[1::] :
    vol = day[1] - day[2]
    volatility.append(vol)
print(volatility)

vola =[]

for int in range(1, len(ohlc)) :
    vol = ohlc[int][1] - ohlc[int][2]
    vola.append(vol)
print(vola)

[40, 30, 10]
[40, 30, 10]

In [ ]:
# 199 종가가 시가보다 높은 날의 변동성